// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
//@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
//@import "primary/comments";

.attachment-post-thumbnail {
    width: 100%;
 }
 .site-branding{
    display:none;
 }
 .menu{
    display:none;
 }
 @media screen and (min-width: 1200px) {
     .container{
         width: 960px;
         margin: 0 auto;
    }
  }
  .division-conference{
    display:flex;
 }
 .div-conf{
    width: 100%;
    max-width: 160px;
 }
 .date-span{
    color: red;
 }
 .nouvelle{
    display: flex;
 }
 .division-nouvelles{
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 25%;
 }
 .division-event{
    display: flex;
    align-items: center;
 }
 .super-evenement{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(31, 20px [col-start]);
 }